<%= form_with(model: cryptocoin) do |form| %>
  <% if cryptocoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cryptocoin.errors.count, "error") %> prohibited this cryptocoin from being saved:</h2>

      <ul>
        <% cryptocoin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :acronym, class: 'form-label' %>
    <%= form.text_field :acronym, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, class: 'form-label' %>
    <%= form.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="form-select">
    <%= form.label :mining_type_id, class: 'form-label' %>
    <%= form.select "mining_type_id", @mining_type_options, {include_blank: "Select one..."}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
