<p id="notice"><%= notice %></p>

<h1> <%= Cryptocoin.model_name.human(count: @cryptocoins.count) %> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @cryptocoins.human_attribute_name(:image_url) %></th>
      <th><%= @cryptocoins.human_attribute_name(:description) %></th>
      <th><%= @cryptocoins.human_attribute_name(:acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cryptocoins.each do |cryptocoin| %>
      <tr>
        <td><%= image_tag cryptocoin.image_url, width: 25, height: 25 %></td>
        <td><%= cryptocoin.description %></td>
        <td><%= cryptocoin.acronym %></td>
        <td><%= link_to t('links.show'), cryptocoin %></td>
        <td><%= link_to t('links.edit'), edit_cryptocoin_path(cryptocoin) %></td>
        <td><%= link_to t('links.destroy'), cryptocoin, method: :delete, data: { confirm: t('alerts.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_cryptocoin_path, class: 'btn btn-primary' %>
