<p id="notice"><%= notice %></p>

<h1>Cyptocoins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Acronym</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cyptocoins.each do |cyptocoin| %>
      <tr>
        <td><%= cyptocoin.description %></td>
        <td><%= cyptocoin.acronym %></td>
        <td><%= cyptocoin.image_url %></td>
        <td><%= link_to 'Show', cyptocoin %></td>
        <td><%= link_to 'Edit', edit_cyptocoin_path(cyptocoin) %></td>
        <td><%= link_to 'Destroy', cyptocoin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cyptocoin', new_cyptocoin_path %>
