<div class="jumbotron">
  <h1 class="display-4"> <%= "#{t(:welcome)}!" %> </h1>
  <p class="lead"> <%= "#{t(:about)}" %> </p>
  <hr class="my-4">
  <p>Idioma atual: <strong><%= t(:actual_locale) %></strong> </p>
  <p><strong>Data: </strong> <%= l(Date.today) %></p>
  <p class="lead">
    <%= render "menu" %>
  </p>
</div>