<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <h1>CABEÇALHO - <%= params[:controller] %></h1>
      <p> <%= link_to 'Português', root_path(locale: 'pt-BR') %> </p>
      <p> <%= link_to 'English', root_path(locale: 'en') %> </p>
      <%= yield %>
    </div>
  </body>
</html>
